@import 'setup';



/**
HEADER STYLE
 */
header.site-header {
  background: $bgColor;
  box-shadow: 0 3px 6px rgba(#000000, 0.16);
  height: $siteHeader;
  overflow: hidden;
  transition: all 0.3s ease;
  .hd-up-row {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    height: 50px;
    div.mr-auto {
      height: inherit;
    };
  }
  .hd-down-row {
    display: flex !important;
    flex-direction: column;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  .menu-container{
    margin-top: 1rem;
  }
  .hd-search {
    padding-top: 2rem;
  }
  .main-nav-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    li {
      display: block;
      height: auto;
      a, a:visited {
        padding: 0.5rem 0.75rem;
        display: block;
        color: rgba($priColor, 0.5);
        font-weight: 600;
        text-decoration: none;
      }
      a:hover {
        color: $priColor;
        border-bottom: 4px solid $priColor;
      }
    }
    li.current-menu-item {
      a {
        color: $priColor;
        border-bottom: 4px solid $priColor;
      }
    }
  }
}
.site-header.header-change {
  height: 100vh;
  .hd-down-row {

  }
}

/**
PAGES STYLE
 */
// General
#primary {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}
//#home {
//  padding-bottom: 3.75rem;
//}
section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}


// Home page
.hero {
  position: relative;
  background: $priColor;
  color: white;
  padding-bottom: 5rem;
  padding-top: 5rem;
  .hero-slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .slide-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($priColor, 0.7);
  }
  h1 {
    color: white;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
}
.about {
  padding-bottom: 4rem;
}
.services {
  padding-top: 4rem;
  .blyss-card {
    background: #FFFFFF;
    padding: 2.5rem 0.625rem;
    box-shadow: 0 5px 6px rgba(#000, 0.16);
    margin-bottom: 2rem;
  }
  h2, p {
    margin-bottom: 1.5rem;
  }
  img {
    height: 35vw;
    max-height: 110px;
    width: auto;
  }
}
.cta {
  background: $priColor;
  color: #fff;
  padding-top: 4rem;
  padding-bottom: 4rem;
  .btn-main {
    margin: 0;
  }
  p {
    margin-bottom: 1rem;
  }
}
.btn-card {
  margin: 1rem 0 0;
}
.blyss-item-card {
  background: #FFFFFF;
  padding: 1rem 0.975rem;
  box-shadow: 0 5px 6px rgba(#000, 0.16);
  margin-bottom: 2rem;
  h2 {
    margin-bottom: 1rem;
  }
  .card-img {
    margin-bottom: 1rem;
  }
}
.offer{
  padding-top: 4rem;
  .blyss-tr-card{
    .card-data {
      display: flex;
      flex-direction: column;
      .spec {
        display: flex;
        justify-content: space-between;
        color: $priColor;
      }
    }
  }
}

#ctaRegister, #ctaContact {
  input[type="submit"] {
    border: unset;
    width: 100%;
    font-size: 1.25rem;
    padding: 1rem 2.75rem;
    margin: 1.25rem 0;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    color: white !important;
    background: $secColor;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
    position: relative;
    box-shadow: -5px 5px 6px rgba(0, 0, 0, 0.16);
  }
}

//Category pages
.page-title {
  background: $priColor;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #fff;
  h1 {
    color: #fff;
  }
  h3 {
    color: #fff;
  }
}
.blyss-category {
  .category-description {
    p {
      margin-bottom: 2rem;
    }
  }
  .white-background {
    width: 100%;
    margin: 0 0.975rem;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
}
.blyss-cat-card {
  .card-data {
    display: flex;
    flex-direction: column;
    .spec {
      display: flex;
      justify-content: space-between;
      color: $priColor;
    }
    .prices {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;

      .price {
        font-size: 2rem;
        font-weight: 600;
        font-family: $headingFont;
      }
      .price-sale {
        color: #B92D00;
      }
    }
    .btn-card {
      margin-top: 1rem;
    }
  }
}

.old-price {
  display: inline;
  font-size: 1.25rem;
  color: #707070;
  text-decoration: line-through;
  margin-right: 1rem;
  font-weight: normal;
}

/**
CONTACT PAGE
 */

.contact-details {
  i {
    color: $priColor;
  }
  p {
    margin-bottom: 0;
  }
  section {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .work-hour,
  .work-addresses {
    margin: 2rem 0;
  }
  .work-hour {
    text-align: center;
    img {
      margin-bottom: 2rem;
      max-width: 80%;
    }
    p {
      font-size: 1.7rem;
      font-weight: 500;
      margin-bottom: 0.75rem;
      line-height: 1;
    }
  }
  .work-addresses {
    h4 {
      margin-top: 1rem;
    }
  }
}
.contact-form {
  background-color: $priColor;
  color: #fff;
  input[type="submit"] {
    border: unset;
    width: 100%;
    font-size: 1.25rem;
    padding: 1rem 2.75rem;
    margin: 1.25rem 0;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    color: white !important;
    background: $secColor;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
    position: relative;
    box-shadow: -5px 5px 6px rgba(0, 0, 0, 0.16);
  }
}

/**
404
 */
.blyss-404 {
  p,
  h1 {
    text-align: center;
  };
  .lead {
    font-size: 1.5rem;
  }
  .col-sm-2 {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
  }
}

/**
SINGLE POSTS
 */
.gallery {
  margin: 0;
}
.blyss-article {
  margin-top: 2rem;
  section {
    padding: 0;
    margin-bottom: 2rem;
  }
  .blyss-characteristics {
    margin-top: 2rem;
    ul {
      margin-bottom: 0;
    }
    li {
      padding: .25rem 0;
    }
  }
}
.blyss-gallery {
  position: relative;
  .fullwidth-img {
    position: relative;
  }
  .blyss-slide {
    display: none;
  }
  .cursor {
    cursor: pointer;
  }
  .blyss-btn-prev,
  .blyss-btn-next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;

    color: white !important;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  .blyss-btn-next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .blyss-btn-prev:hover,
  .blyss-btn-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .thumb {
    opacity: 0.6;
  }
  .thumb-active,
  .thumb:hover {
    opacity: 1;
  }
  .tumb-img {
    margin-top: 1rem;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    .blyss-thumbnail {
      display: inline-block;
      height: auto;
      width: 30%;
      margin: 0;
      padding: 0;
    }
  }
}
.white-background {
  h1, h2, h3 {
    color: $priColor;
  }
  background: #FFFFFF;
  padding: 1rem 0.975rem;
  box-shadow: 0 5px 6px rgba(#000, 0.16);
}
.blue-text {
  color: $priColor;
  font-weight: 500;
}

.desc-icon {
  color: $priColor;
}



/**
FOOTER
 */
ul.company {
  margin: 0;
  list-style: none;
  padding-left: 1.5rem;
}

.site-footer {
  font-family: $headingFont;
  background: $priColor;
  color: #fff;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: 0 -3px 6px rgba(#000000, 0.16);
  .footer-social {
    .social-icon, .social-icon:visited, .social-icon:focus {
      display: inline-block;
      text-align: center;
      height: 70px;
      width: 70px;
      padding: 0.25rem;
      border-radius: 0.5rem;
      margin: 0 0.5rem;
      color: #FFFFFF;
    }
    .social-icon:hover{
      box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    }
    .social-facebook:hover {
      background: $facebookColor;
    }
    .social-viber:hover {
      background: $viberColor;
    }
  }
  .footer-address{
    margin: 2rem 0;
    text-align: left;
    p {
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 1.2;
    }
    ul {
      font-size: 1rem;
    }
    a, a:visited, a:focus {
      color: white;
    }
  }
  .footer-logo {
    img {
      height: 50px;
      width: auto;
    }
    p {
      font-size: 1rem;
    }
  }
}

/**
MEDIA QUERIES
 */

@import 'tablets';
@import 'desktop';